In [20]:
# Suppose we have a data of 2d list, each row contains name, phone and salary.
employees = [['John Smith', '1234567890', 100],
             ['Jane Doe', '2345678901', 200],
             ['', '3456789012', 500],
             ['Melody Pond', 'aa7890123', 3000],
             ['Dean Winchester', '56A89A123A', 1000],
             ['Jodie Whittakerrrrrrrrrrrrrrrrrrrrrr', '6789012345', 1500]]

In [2]:
def do_nothing(employees):
    pass
def clean_employees(employees, clean_name=do_nothing, clean_phone=do_nothing, clean_salary=do_nothing):
    clean_name(employees)
    clean_phone(employees)
    clean_salary(employees)

In [ ]:
def print_employees(employees):
    for row in employees:
        print(f'{row[0]:<25}: {row[1]:10s}, ${row[2]:5}')
def empty_2_default(employees):
    for row in employees:
        if row[0] == '':
            row[0] = 'John Doe'

clean_employees(employees, clean_name=empty_2_default)
print_employees(employees)

In [9]:
def truncate_longname(employees):
    for row in employees:
        if len(row[0]) > 20:
            row[0] = row[0][:20]

clean_employees(employees, clean_name=truncate_longname)
print_employees(employees)

John Smith               : 1234567890, $  100
Jane Doe                 : 2345678901, $  200
John Doe                 : 3456789012, $  500
Melody Pond              : aa7890123 , $ 3000
Dean Winchester          : 56A89A123A, $ 1000
Jodie Whittakerrrrrr     : 6789012345, $ 1500

In [10]:
def digit_2zero(employees):
    for row in employees:
        row[1] = ''.join(list(map(lambda x: x if x.isdigit() else '0', row[1])))

clean_employees(employees, clean_phone=digit_2zero)
print_employees(employees)

John Smith               : 1234567890, $  100
Jane Doe                 : 2345678901, $  200
John Doe                 : 3456789012, $  500
Melody Pond              : 007890123 , $ 3000
Dean Winchester          : 5608901230, $ 1000
Jodie Whittakerrrrrr     : 6789012345, $ 1500

In [17]:
def fix_salary(employees):
    for row in employees:
        if row[2] < 200:
            row[2] = 200
        if row[2] > 2000:
            row[2] = 2000

clean_employees(employees, clean_salary=fix_salary)
print_employees(employees)

John Smith               : 1234567890, $  200
Jane Doe                 : 2345678901, $  200
                         : 3456789012, $  500
Melody Pond              : aa7890123 , $ 2000
Dean Winchester          : 56A89A123A, $ 1000
Jodie Whittakerrrrrrrrrrrrrrrrrrrrrr: 6789012345, $ 1500

In [22]:
def nondigit_2previous(employees):
    for row in employees:
        phone = [c for c in row[1]]
        phone[0] = phone[0] if phone[0].isdigit() else '0'
        row[1] = ''.join([phone[i] if phone[i].isdigit() else phone[i-1] for i in range(1, len(phone))])

clean_employees(employees, clean_phone=nondigit_2previous,
                clean_salary=fix_salary,
                clean_name=truncate_longname)

clean_employees(employees, clean_name=empty_2_default)
print_employees(employees)

John Smith               : 234567890 , $  200
Jane Doe                 : 345678901 , $  200
John Doe                 : 456789012 , $  500
Melody Pond              : 07890123  , $ 2000
Dean Winchester          : 668991233 , $ 1000
Jodie Whittakerrrrrr     : 789012345 , $ 1500

In [23]:
# generator is considered as a function, but it returns an iterator
my_list = [x for x in range(10)]            # list comprehension
my_generator = (x for x in range(10))       # generator expression

In [25]:
print(sum(my_list))
print(sum(my_generator))

45
0

In [26]:
import random as rd
numbers = [rd.randint(1, 100) for _ in range(20)]
print(numbers)

[72, 12, 3, 51, 100, 67, 90, 17, 44, 72, 23, 28, 73, 85, 28, 1, 88, 60, 63, 51]

In [33]:
# calculate sum of even numbers
even_list = [x for x in numbers if x % 2 == 0]
even_gen = (x for x in numbers if x % 2 == 0)

In [35]:
print(sum(even_list))
print(sum(even_gen))

594
0

In [29]:
def my_filter(f, items):
    for i in items:
        if f(i):
            yield i

In [31]:
sum_even = sum(my_filter(lambda x: x % 2 == 0, numbers))
print(sum_even)

594

In [36]:
pizza_solds = [['John', '10:00', 15],
               ['Paul', '11:00', 20],
               ['George', '12:00', 18],
               ['Ringo', '13:00', 22]]
price = 5.5
number_pizzas = (x[2] for x in pizza_solds)
incomes = (n * price for n in number_pizzas)
print('Total: ', sum(incomes))

Total:  412.5

In [1]:
def rec_fibonacci(n):
    if n < 2:
        return n
    return rec_fibonacci(n-1) + rec_fibonacci(n-2)

In [15]:
for i in range(30):
    print(rec_fibonacci(i), end=' ')
    if (i+1) % 10 == 0:
        print()

0 1 1 2 3 5 8 13 21 34
55 89 144 233 377 610 987 1597 2584 4181
6765 10946 17711 28657 46368 75025 121393 196418 317811 514229

In [9]:
def fibo_gen():
    a, b = 0, 1
    while True:
        yield a
        a, b = b, a + b

In [12]:
def fibonacci(n):
    i = 0
    for f in fibo_gen():
        if i == n:
            return f
        i += 1

In [17]:
for i in range(100):
    print(fibonacci(i), end=' ')
    if (i+1) % 10 == 0:
        print()

0 1 1 2 3 5 8 13 21 34
55 89 144 233 377 610 987 1597 2584 4181
6765 10946 17711 28657 46368 75025 121393 196418 317811 514229
832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986
102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049
12586269025 20365011074 32951280099 53316291173 86267571272 139583862445 225851433717 365435296162 591286729879 956722026041
1548008755920 2504730781961 4052739537881 6557470319842 10610209857723 17167680177565 27777890035288 44945570212853 72723460248141 117669030460994
190392490709135 308061521170129 498454011879264 806515533049393 1304969544928657 2111485077978050 3416454622906707 5527939700884757 8944394323791464 14472334024676221
23416728348467685 37889062373143906 61305790721611591 99194853094755497 160500643816367088 259695496911122585 420196140727489673 679891637638612258 1100087778366101931 1779979416004714189
2880067194370816120 4660046610375530309 7540113804746346429 12200160415121876738 19740274219868223167 31940434634990099905 51680708854858323072 83621143489848422977 135301852344706746049 218922995834555169026